uid: semanticHomeMenu_Energy
tags: []
props:
  parameters:
    - context: item
      description: Security Group Item
      label: Security Group
      name: securityGroup
      required: true
      type: TEXT
timestamp: Aug 24, 2023, 10:27:46 PM
component: f7-card
config:
  style:
    --f7-card-header-border-color: transparent
    background: =themeOptions.dark=="light" ? "white"
    border-radius: 10px
    margin-left: 5px
    margin-right: 5px
slots:
  default:
    - component: f7-card-content
      config:
        style:
          height: auto
      slots:
        default:
          - component: f7-list
            config:
              accordionList: true
              mediaList: true
            slots:
              default:
                - component: oh-list-item
                  config:
                    icon: '=(items.gBatteryLowTotal.state == "0") ? "iconify:fluent:battery-checkmark-24-filled" : "iconify:fluent:battery-warning-24-filled"'
                    iconColor: '=(items.gBatteryLowTotal.state == "0") ? "green" : "red"'
                    noChevron: '=(items.gBatteryLowTotal.state == "0") ? true : false'
                    style:
                      --f7-list-item-after-font-size: 16px
                      --f7-list-item-after-text-color: "=themeOptions.dark === 'dark' ? 'rgb(180,180,180)' : 'rgb(80,80,80)'"
                    subtitle: =(items.gBatteryLowTotal.state.split('.')[0]) + " batterie(s) need(s) attention"
                    title: Batteries
                  slots:
                    accordion:
                      - component: f7-list
                        config:
                          mediaList: true
                          style:
                            background-color: "=themeOptions.dark === 'dark' ? 'rgb(35, 35, 35)' : 'rgb(247, 247, 247)'"
                        slots:
                          default:
                            - component: oh-repeater
                              config:
                                fetchMetadata: semantics,widgetOrder,uiSemantics
                                filter: loop.i.state == "ON"
                                for: i
                                fragment: true
                                itemTags: Lowbattery,Energy
                                sourceType: itemsWithTags
                              slots:
                                default:
                                  - component: oh-list-item
                                    config:
                                      footer: =loop.i.metadata.uiSemantics.config.preposition + loop.i.metadata.uiSemantics.config.location
                                      icon: '=(loop.i.state == "ON") ? "f7:battery_0" : "f7:battery_100"'
                                      iconColor: '=(loop.i.state == "ON") ? "red" : "green"'
                                      item: =loop.i.name
                                      title: =loop.i.metadata.uiSemantics.config.equipment
